gitpush.sh
misc/
videos/
training_videos/
labeled_videos/
saved_videos/
debug_vlm_calls/
draw_force_visualizations/
ghost_visualizations/
skeleton_visualizations/
spine_visualizations/
post_release_visualizations/
stream_output/
inference_data/
runs/
web/public/assets/*
smoothed_inference_data/
backupuuselless/
draw_force_angle_analysis/
draw_length_analysis/
draw_force_angle_analysis/
estimated_labels/
ghost_overlay_analysis/
post_release_analysis_reports/
spine_straight_analysis/

# Ignore Python virtual environment
.venv/
venv/
__pycache__/
*.pyc
.DS_Store

# Ignore temporary files
*.mov
*.mp4
*.avi
*.log
*.tmp

ragpdf/